/ECommerce/nbproject/private/
/ECommerce/ECommerce-war/nbproject/private/
/ECommerce/ECommerce-ejb/nbproject/private/
/ECommerce/ECommerce-war/build/
/ECommerce/ECommerce-war/dist/
/ECommerce/ECommerce-ejb/build/
/ECommerce/ECommerce-ejb/dist/